* {
    background-color: #191919;
    color: #ffffff;
}

QStatusBar QLabel{
    color: #ffffff;
}

QStatusBar{
    color: #ffffff;
    background-color: #333333;
}

QTreeView::item:hover{
    color: #ffffff;
    background-color: #333333;
}

